html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: $primary-color;
  display: grid;
  grid:  min-content auto min-content/repeat(12,1fr);
    grid-gap: 1rem;
}

.header {
  margin-left: 1rem;
  grid-column: 1/13;
  display: grid;
  grid-column: repeat(12,1fr);
  grid-row:autoflow auto;
  justify-items: center;
  align-items: center;
}

.main-heading h1 {
  color: $heading-color;
  font-family: $Heading;
  font-size: $Text-big;
  
}

// add-product Components //

.save,
.cancel {
  font-family: $Text-Heading;
  color: $button-color-text;
  background-color: $button-color;
  @include buttons;
}

.save a,
.cancel a {
  color: $button-color-text;
  text-decoration: none;
}

.save:hover,
.cancel:hover {
  @include buttonAnim;
}

.main {
 
  border-top: 1px solid $button-color;
  border-bottom: 1px solid $button-color;
  grid-column: 1/13;
  display: grid;
  grid: repeat(12,1fr);
  justify-items: center;
  align-items: center;
}

#product_form {
  // margin-bottom:  20%;
  margin: 1rem 0.5rem 0rem 0.5rem;
  justify-self: start;
  padding-left: 1rem;
  grid-column: 1/13;
  background-color:$card-color;
  border: 3px solid $border-color;
  border-radius: 10px;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

#product-forms{
  margin-top: 3rem;
}

.info label {
  @include label;

}
.info input {
  @include input;
}

#sku {
  margin-left: 2.2rem;
}

#name {
  margin-left: 1.4rem;
}

#price {
  margin-right: 0.4rem;
}

.switcher label {
  @include label;

}

#productType {
  @include input;
}

#productType option {
  @include input;
}

.switch-form-hide {
  display: none;
}

.switch-form {
  border: 2px solid $border-color;
  width: fit-content;
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 5px;
}

.switch-form label {
  @include label;
}

.switch-form input {
  @include input;
}

.description   {
  color:white;
}

.footer {
    grid-column: 1/13;
  margin-left: 1rem;
  text-align: center;
  padding-top: 0.2rem;
  margin-bottom: 1rem;
}

// list product Components //

.add,
.delete {
  font-family: $Text-Heading;
  color: $button-color-text;
  background-color: $button-color;
  @include buttons;
}

.delete {
  width: fit-content;
}

.add a {
  color: $button-color-text;
  text-decoration: none;
}

.add:hover,
.delete:hover {
  @include buttonAnim;
}

.product-card {
  border: 3px solid $border-color;
  width: 16rem;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 10px;
  background-color: $card-color;
}

.product-details span,
h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: whitesmoke;
}

// MEDIA QUERIES //

@media only screen and (min-width:600px) {
    
.main{
    margin-top: 1rem;
    padding-top: 2rem;  
    grid:auto-flow min-content / repeat(2,1fr);
  }

.header {
    height: 4rem;
}

.main-heading h1 {
    font-size: $Text-big + 0.3rem;    
  }

.header{
justify-items: start;

}
.btns {
    justify-self:end;
    margin-right: 1rem;
    grid-column: 12/13;
    display: flex;
}

.add{
margin-right: 1rem;
}

.save{
  margin-right: 1rem;
  }


}

@media screen  and (min-width:768px) {
  .main {
    grid:auto-flow min-content / repeat(3,1fr);
  }

  
  .check input {
    height: 15px;
    width: 15px;
  }

  .product-details h3
  {
    font-size: $Text-med + 0.2rem;
  }

  .product-details span{
    font-size: $Text-med;
  }

}


@media screen  and (min-width:1024px) {
  .main {
    grid:auto-flow min-content / repeat(4,1fr);
  }

  .product-details h3
  {
    font-size: $Text-med + 0.4rem;
  }

  .product-details span{
    font-size: $Text-med + 0.2rem;
  }

}


@media screen  and (min-width:1300px) {
  .main {
    grid:auto-flow min-content / repeat(5,1fr);
  }
}